<h1>Future workshops</h1>

<div class="row mt-3 mb-5">

    <h2 class="text-stroke text-opacity-50 text-black" *ngIf="futureWorkshops.length == 0">No workshops.</h2>

    <workshop-card
            *ngFor="let w of futureWorkshops"
            [workshop]="w"
            buttonCaption1="Cancel"
            [includeButton1]="w.confirmed == 1 && canBeCanceled(w)"
            [buttonCallback1]="cancelAttendance"
    ></workshop-card>

</div>

<h1>Active workshops</h1>
<div class="mt-3 mb-5">
    <workshop-filtered-list></workshop-filtered-list>
</div>


<!--<ng-container *ngIf="isOrganizer">-->
<!--  <h1>Pending workshop requests</h1>-->


<!--  <div class="row mt-3 mb-5">-->

<!--    <h2 class="text-stroke text-opacity-50 text-black" *ngIf="pendingWorkshops.length == 0">No pending workshops.</h2>-->

<!--    <workshop-card-->
<!--      *ngFor="let w of pendingWorkshops"-->
<!--      [workshop]="w"-->
<!--      buttonCaption="Accept"-->
<!--      [includeButton]="true"-->
<!--      [buttonCallback]="accept.bind(this)"-->
<!--      buttonCaption2="Reject"-->
<!--      [includeButton2]="true"-->
<!--      [buttonCallback2]="reject.bind(this)"-->
<!--    ></workshop-card>-->

<!--  </div>-->


<!--</ng-container>-->
